@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    background: url("./images/bg_img.jpg") no-repeat center;
}

.container {
    width: 40vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;


    .clock {
        width: 100%;
        height: min-content;
        display: flex;
        justify-content: space-between;
        border: 3px solid;
        border-radius: 5px;
        padding: 30px;
        background-color: rgba($color: #ddd, $alpha: .85);

        .item {
            .number {
                font-size: 3.5rem;
                font-weight: 700;
            }
            .text {
                font-size: 2rem;
                font-weight: 300;
            }
        }
    }
}
